Enter file contents hereThe pay range is $43/hr-$50/hr depending on experience.  This is a indefinite long term contract position with a possibility to go permanent.  The main skills are C#, some C++, Win-forms, ASP.NET with some familiarity with Visual Studio.  If you’re interested, please contact me at anytime for more details.  My contact information is listed below.  Also, if you’re not interested and know someone that might be, please feel free to give them my contact information and I can get you a referral bonus
